<%- include('parts/header') %>
<%- include('parts/navbar') %>

<div class="container d-flex flex-column flex-lg-row  justify-content-lg-between 
justify-content-start  align-items-center  mt-5">
<div class="col-12 text-center col-lg-6">
    <h1 class="fw-bold">We are Sorry</h1>
<h3>Not Found Page</h3>
<a style="text-decoration: none;" href="/">Back To Homepage</a>
</div>

<img class="col-12 text-center col-lg-6 mt-5 mt-lg-0" src="not-found.png">
</div>
  

<%- include('parts/footer') %>
